<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <table border="1">
        <tr>
            <td>NAME</td>
            <td>CONTACT</td>
            <td>User NAME</td>
            <td>PASSWORD</td>
            <td>Role</td>
        </tr>

        <% employees.forEach(function(employee) {%>
        <tr>
            <td><%= employee.name %></td>
            <td><%= employee.contact %></td>
            <td><%= employee.userName %></td>
            <td><%= employee.password %></td>
            <td><%= employee.role %></td>
            <td>
				<a href="/admin/edit/<%= employee.id %>"> EDIT </a> | 
				<a href="/admin/delete/<%= employee.id %>"> DELETE </a>
			</td>
        </tr>

        <% }) %>
    </table>
    <a href="/register"> Add Employee </a>
</body>

</html>