<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <table border="1">
        <tr>
            <td>NAME</td>
            <td>QUANTITY</td>
            <td>PRICE</td>
        </tr>

        <% products.forEach(function(product) {%>
        <tr>
            <td><%= product.productName %></td>
            <td><%= product.quantity %></td>
            <td><%= product.price %></td>
            <td>
				<a href="/employee/edit/<%= product.id %>"> EDIT </a> | 
				<a href="/employee/delete/<%= product.id %>"> DELETE </a>
			</td>
        </tr>

        <% }) %>
    </table>
    <a href="/add"> Add Product </a>
</body>

</html>